
body, html {
  width: 100%;
  height: 100%;
}
a:hover{
  color: white;
}
#proList,  #noobList li{
  list-style: none;
  margin-right: 7%;
}
#proList, #noobList{
  display: none;
}
#proList a, #noobList a{
  color: black;
}

#close-banner:hover{
cursor: pointer;
}

#close-banner{
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 11;
}
#banner-comp{
  display: none;
  width: 100%;
  min-height: 20%;
  background-color: #fdc02f;
  position: fixed;
  top: 65px;
  z-index: 15;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: white;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(204,204,204,1);
  -moz-box-shadow: 3px 4px 5px 0px rgba(204,204,204,1);
  box-shadow: 3px 4px 5px 0px rgba(204,204,204,1);
  -webkit-animation: neon1 3s ease-in-out 20 alternate;
  -moz-animation: neon1 3s ease-in-out 20 alternate;
  animation: neon1 3s ease-in-out 20 alternate;
}
#banner-comp a{
  text-decoration: none;
  color: white;
}
#coder{
  position: absolute;
  left: 10px;
  top: 10px;
}

#banner{
  display: none;
  position: fixed;
  right: 10px;
  top: 150px;
  z-index: 16;
  -webkit-animation: move-sign 1.5s ease-in-out infinite alternate;
  -moz-animation: move-sign 1.5s ease-in-out infinite alternate;
  animation: move-sign 1.5s ease-in-out infinite alternate;
}

#sponsorButton{
  display: none;
  position: fixed;
  right: 40px;
  top: 300px;
  z-index: 20;
  font-weight: bold;
  height: 15%;
  -webkit-animation: move-sign 1.5s ease-in-out infinite alternate;
  -moz-animation: move-sign 1.5s ease-in-out infinite alternate;
  animation: move-sign 1.5s ease-in-out infinite alternate;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
}
#sponsorButton:hover{
  cursor: pointer;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  -webkit-animation: move-sign 1.5s ease-in-out infinite alternate;
  -moz-animation: move-sign 1.5s ease-in-out infinite alternate;
  animation: move-sign 1.5s ease-in-out infinite alternate;
}


.btn{
  margin: 1px;
}
.columns{
  margin-top: 5px;
  border: solid #eee;
  border-width: 1px;
  text-align: center;
}
#tutorailPics{
  width: 70%;
}
.twoColumns{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.joinLinks{
  width: 300px;
}
#join{
  background: #255c36;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#square {
  text-align: center;
  position: relative;
  left:45%;
  transform: rotate(45deg);
	width: 100px;
	height: 100px;
	background: transparent;
  border-bottom: solid;
  border-right: solid;
  border-width: 2px;
  border-radius: 10%;
  border-color: white;
}
#square:hover {
cursor: pointer;
}
#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    opacity: .3;
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.profilePicture{
  border: solid #eee;
  border-width: 1px;
  background-size: cover;
  height: 500px;
  border-radius: 8px;
}
#steve{
  background-image: url("steve.jpg");
}
#membersSideList{
  background-image: url("membersSide.jpeg");
  height: 700px;
}
#mitchell{
  background-image: url("mitchell.jpeg");
}
#alex{
background-image: url("alex.jpeg");
}
#mason {
background-image: url("mason.jpeg");
}
#jordan {
background-image: url("jordan.png");
}
#jason{
background-image: url("jason.jpeg");
}
#hacker:hover, #new:hover{
  cursor: pointer;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
}
.officerBanner{
  background: url(../img/officers.jpg) no-repeat center center;
  background-size: cover;
}
.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}
#headers{
  position: absolute;
  width: 50%;
  z-index: 2;
  top:0;
  left: 0;
}
#pencil{
  height: 100px;
  width: 100px;
  z-index: 3;
  position: absolute;
  background-image: url("pencil.png");
  background-size: cover;
  top: 180px;
  left: 68%;
  animation: spin-opp;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.faces:hover{
  cursor: pointer;
}
.facesLink a{
  color: white !important;
}
#jasonFace:hover{
  opacity: 1;
}
#mitchellFace:hover{
  opacity: 1;
}
#jordanFace:hover{
  opacity: 1;
}
#alexFace:hover{
  opacity: 1;
}
#masonFace:hover{
  opacity: 1;
}
#steveFace:hover{
  opacity: 1;
}
#alexFace{
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 350px;
  background-color: transparent;
  top: 40%;
  left: 50%;
}
#steveFace{
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 350px;
  background-color: transparent;
  top: 40%;
  left: 77%;
}
#masonFace{
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 350px;
  background-color: transparent;
  top: 40%;
  left: 63%;
}
#jordanFace{
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 350px;
  background-color: transparent;
  top: 40%;
  left: 37%;
}
#jasonFace{
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 350px;
  background-color: transparent;
  top: 40%;
  left: 7%;
}
#mitchellFace{
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 350px;
  background-color: transparent;
  top: 40%;
  left: 25%;
}
#sectionSpacer{
  width: 90%;
  margin-left: 5%;
}
#info{
  text-align: center;
}
#info>hr{
  width: 100%;
}
#hackNight{
  font-family: curvise;
  position: absolute;
  font-weight: lighter;
  top: 45%;
  left: 10%;
  z-index: 2;
}
#notpad{
  position: relative;
  bottom: 40px;
  height: 400px;
  z-index: 0;
  background-image: url("notpad.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#macbook{
  height: 600px;
  width: 50%;
  z-index: 1;
  position: absolute;
  background-image: url("all.png");
  background-size: cover;
  top: 100px;
  left: 55%;
}
#mainPage{
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  height: 700px;
  width: 100%;
  z-index: 4;
  color: white;
  text-align: center;
  background-color: #255c36 !important;
}
.membersBanner{
  background-color: #255c36 !important;
}
@media(max-width:1000px) {
  #banner-comp{
    top: 100px;
  }
  #coder{
    width: 150px;
    height: 150px;
    top: 100px;
  }
  #banner{
    top: 185px;
    width: 200px;
    height: 200px;
  }
  #sponsorButton{
      top: 280px;
      width: 150px;
      height: 70px;
      font-weight: lighter;
      font-size: 7px;
  }
}


@media(max-width:400px) {
  #coder{
    top: 125px;
  }
  #banner{
    top: 200px;
    width: 150px;
    height: 150px;
  }
  #sponsorButton{
      top: 265px;
      width: 100px;
      height: 50px;
      font-weight: lighter;
      font-size: 7px;
  }
}
@media(max-width:767px) {
  #pencil{
    top: 125px;
  }
  #jasonFace{
    width: 50px;
    left: -2%;
  }
  #mitchellFace{
    width: 50px;
    left: 15%;
  }
  #jordanFace{
    width: 50px;
    left: 35%;
  }
  #alexFace{
    width: 50px;
    left: 55%;
  }
  #masonFace{
    width: 50px;
    left: 75%;
  }
  #steveFace{
    width: 50px;
    left: 90%;
  }
  #headers{
    position: absolute;
    top:145px;
    left: 0;
  }
  .twoColumns{
    grid-template-columns: repeat(1, 1fr);
  }
  .columns{
    margin-top: 100px;
  }
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}
.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/intro.jpeg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}
@media only screen and (device-width: 768px) {
  #headers{
    top:80%;
  }
  #jasonFace:hover{
    opacity: 0;
  }
  #mitchellFace:hover{
    opacity: 0;
  }
  #jordanFace:hover{
    opacity: 0;
  }
  #alexFace:hover{
    opacity: 0;
  }
  #masonFace:hover{
    opacity: 0;
  }
  #steveFace:hover{
    opacity: 0;
  }
  .twoColumns{
    margin-top: 100px;
    grid-template-columns: repeat(1, 1fr);
  }
  #pencil{
    display: none;
  }
}


@media only screen (max-width:765px) {
  #jasonFace{
    left: 3%;
  }
  #square {
    left: 35%;
  }
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-device-width: 480px) {
  #coder{
    top: 120px;
  }
  #banner{
    top: 225px;
  }
  #sponsorButton{
      top: 320px;
  }
  .joinLinks{
    margin-left: 10%;
  }
  #headers{
    top: 125px;
  }
  #pencil{
    display: none;
  }
  #jasonFace{
    width: 50px;
    left: 3%;
  }
  #steveFace{
    left: 83%;
  }
  #jasonFace:hover{
    opacity: 0;
  }
  #mitchellFace:hover{
    opacity: 0;
  }
  #jordanFace:hover{
    opacity: 0;
  }
  #alexFace:hover{
    opacity: 0;
  }
  #masonFace:hover{
    opacity: 0;
  }
  #steveFace:hover{
    opacity: 0;
  }

}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

@keyframes neon1 {
  from {
    box-shadow: 0 0 10px  #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
  }
}

@keyframes spin-opp {
    from {transform: rotate(0deg)}
    to {-ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);}
}
@keyframes move-sign {
  from {  transform: skewY(0deg)}
  to   {transform: skewY(-4deg)}
}
@font-face {
    font-family: curvise;
    src: url("Milkshake.ttf") format("truetype"); /* IE9 Compat Modes */
}
p.copyright {
  margin: 15px 0 0;
}
